<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <script src="/customScript/addBrandScript.js"></script>

</head>

<body>
    {{> adminHeader}}
    <form action="/admin/product/addBrand" method="POST">
        <div class="col-md-6 column">
            <table class="table table-bordered table-hover" id="tab_logic">
                <thead>
                    <tr>
                        <th class="text-center">Brand</th>
                        <th class="text-center">Model</th>
                    </tr>
                </thead>
                <tbody>
                    <tr id='row1'>
                        <td><select name="brand" id="brand" onchange="createBrand()" class="form-control">
                                <option value="">Select existing Brand/add New</option>
                                <option value="">Add New Brand</option>
                                {{#each brands}}
                                <option value="{{brandName}}">{{brandName}}</option>
                                {{/each}}

                            </select><input type="text" class="form-control" name="newBrand" id="newBrand"
                                placeholder="Enter Brand Name" style=" display: none;" autocomplete="off"></td>
                        <td><input type="text" placeholder="Model Name" class="form-control" name="modelName"
                                id="modelName" autocomplete="off" required>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="form-group">
            <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input is-invalid" onclick="inputChecker()" id="confirmed"
                    required>
                <label class="custom-control-label" for="confirmed">Yes,Iam sure that the above entered model/brand
                    is not exist</label>
                <div class="invalid-feedback">
                    You must agree before submitting.
                </div>
            </div>
            <div class="invalid-feedback">
                You must agree before submitting.
            </div>
        </div>
        <button class="btn btn-primary" type="submit">Save above Brand/Model</button>
        <br><br>
        <strong>
            <h2 style="color: blue;">Available Brand and Models</h2>
        </strong>
        <div class="mt-4">
            {{#each brands}}
            <h3><strong>{{this.brandName}}</strong></h3>
            <h3>{{this.brandModels}} </h3>
            <br>
            {{/each}}
        </div>
    </form>
</body>

</html>