<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <script src="/customScript/addBrandScript.js"></script>

</head>

<body>
    {{> adminHeader}}
    <form action="/admin/product/addBrand" method="POST">
        <div class="col-md-6 column">
            <table class="table table-bordered table-hover" id="tab_logic">
                <thead>
                    <tr>
                        <th class="text-center">Category</th>
                        <th class="text-center">Brand</th>
                        <th class="text-center">Model</th>
                    </tr>
                </thead>
                <tbody>
                    <tr id='row1'>
                        <td> <select name="cat" id="cat" class="form-control">
                                <option value="Select A Category">Select A Category</option>
                                <option value="MOBILE">MOBILE</option>
                                <option value="LAPTOP">LAPTOP</option>
                                <option value="I-PAD">I-PAD</option>
                                <option value="OTHER">OTHER</option>
                            </select></td>
                        <td>
                            <select name="brand" id="brand" onchange="createBrand()" required class="form-control">
                            </select>
                            <input type="text" class="form-control" name="newBrand" id="newBrand"
                                placeholder="Enter Brand Name" style=" display: none;" autocomplete="off"></td>
                        <td><input type="text" placeholder="Model Name" class="form-control" name="modelName"
                                id="modelName" autocomplete="off" required>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="form-group">
            <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input is-invalid" onchange="inputChecker()" id="confirmed"
                    required>
                <label class="custom-control-label" for="confirmed">Yes,Iam sure that the above entered model/brand
                    is not exist</label>
                <div class="invalid-feedback">
                    You must agree before submitting.
                </div>
            </div>
            <div class="invalid-feedback">
                You must agree before submitting.
            </div>
        </div>
        <button class="btn btn-primary" type="submit">Save above Brand/Model</button>
        <br><br>
        <strong>
            <h2 style="color: blue;">Available Brand and Models</h2>
        </strong>
        <div class="mt-4">
            {{#each brands}}
            <h3><strong>{{this.brandName}}</strong></h3>
            <h3>{{this.brandModels}} </h3>
            <br>
            {{/each}}
        </div>
    </form>

    <script>
        $("select[name='cat']").change(function () {
            var catSelected = $(this).val();
            if (catSelected) {
                $.ajax({
                    url: "/admin/utility/searchBrands?cat=" + catSelected,
                    dataType: 'Json',
                    data: { 'id': catSelected },
                    type: "POST",
                    success: function (data) {
                        $('select[name="brand"]').empty();
                        $.each(data, function (key, value) {
                            $('select[name="brand"]').append('<option value="' + key + '">' + value + '</option>');
                        });
                    }
                });

            } else {
                $('select[name="brand"]').empty();
            }
        });
    </script>
</body>

</html>