<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <script src="/customScript/adminNavScript.js"></script>
    <script src="/customScript/adminIndexScript.js"></script>
    <link rel="stylesheet" href="/customStyle/adminIndexStyle.css">
</head>

<body>
    {{> adminHeader}}

    {{#if saved }}
    <script>
        Swal.fire({
            title: 'Success',
            text: "Product successfuly Added",
            type: 'success',
            showCancelButton: false,
            confirmButtonColor: '#3085d6',
            confirmButtonText: 'Okay'
        }).then((result) => {
            if (result.value) {

            } else {

            }
        })
    </script>
    {{/if}}

    {{#if notSaved}}
    <script>
        Swal.fire({
            title: 'Failed',
            text: "Something went wrong while adding product",
            type: 'error',
            showCancelButton: false,
            confirmButtonColor: '#3085d6',
            confirmButtonText: 'Okay'
        }).then((result) => {
            if (result.value) {


            } else {

            }
        })
    </script>
    {{/if}}


    <div id="add" style="justify-self: center;">
        <form action="/admin/product/addBrand" method="GET">
            <input type="submit" class="btn btn-primary" value="add new brand/model">
        </form>
        <br>

        <form action="/admin/product" method="POST" name="adder" enctype="multipart/form-data">
            <H2 style="color: rgb(209, 44, 3);">Product Details</H2>
            <div class="form-row">
                <div class="col-md-3 mb-3">

                    <label for="validationServer013">Product Category</label>
                    <select name="cat" id="cat" class="form-control">
                        <option value="Select A Category">Select A Category</option>
                        <option value="MOBILE">MOBILE</option>
                        <option value="LAPTOP">LAPTOP</option>
                        <option value="I-PAD">I-PAD</option>
                        <option value="OTHER">OTHER</option>
                    </select>

                </div>
                <div class="col-md-3 mb-3">
                    <label for="validationServer023">Brand</label>
                    <select name="brand" class="form-control">

                    </select>
                </div>
                <div class="col-md-3 mb-3">
                    <label for="validationServer023">Brand</label>
                    <select name="model" class="form-control">
                    </select>
                </div>
            </div>


            <H2 style="color: rgb(209, 44, 3);">Price and Discount Details</H2>
            <div class="form-row">
                <div class="col-md-3 mb-3">
                    <label for="validationServer013">Price</label>
                    <input type="text" class="form-control" name="price" id="" placeholder="Price">
                </div>
                <div class="col-md-3 mb-3">
                    <label for="validationServer013">Stock</label>
                    <input type="number" min="0" class="form-control" name="stock" id="" placeholder="Stock Count">
                </div>
            </div>
            <div class="col-md-6 column">
                <table class="table table-bordered table-hover" id="tab_logic">
                    <thead>
                        <tr>
                            <th class="text-center">#</th>
                            <th class="text-center">Discount Name</th>
                            <th class="text-center">Discount Rate(in %)</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr id='row1'>
                            <td>1</td>
                            <td>
                                <input type="text" name='dn1' id="dn1" onchange="" placeholder='Enter Discount Name'
                                    class="form-control" />
                            </td>
                            <td>
                                <input type="number" min="0" max="100" value="0" name='dr1' id="dr1"
                                    placeholder='Enter Rate' onchange="discountChange1('dn1','dr1','row2')"
                                    class="form-control" />
                            </td>
                        </tr>

                        <tr id='row2' style="display: none;">
                            <td>2</td>
                            <td>
                                <input type="text" id="dn2" name='dn2' placeholder='Enter Discount Name'
                                    class="form-control" />
                            </td>
                            <td>
                                <input type="number" min="0" max="100" onchange="discountChange1('dn2','dr2','row3')"
                                    value="0" id="dr2" name='dr2' placeholder='Enter Rate' class="form-control" />
                            </td>
                        </tr>


                        <tr id='row3' style="display: none;">
                            <td>3</td>
                            <td>
                                <input type="text" name='dn3' id="dn3" placeholder='Enter Discount Name'
                                    class="form-control" />
                            </td>
                            <td>
                                <input type="number" min="0" max="100" onchange="discountChange1('dn3','dr3','row4')"
                                    value="0" onchange="checkPrevious()" name='dr3' id="dr3" placeholder='Enter Rate'
                                    class="form-control" />
                            </td>
                        </tr>
                        <tr id='row4' style="display: none;">
                            <td>4</td>
                            <td>
                                <input type="text" name='dn4' id="dn4" placeholder='Enter Discount Name'
                                    class="form-control" />
                            </td>
                            <td>
                                <input type="number" min="0" max="100" value="0" onchange="checkPrevious()" name='dr4'
                                    id="dr4" placeholder='Enter Rate' class="form-control" />
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>


            <H2 style="color: rgb(209, 44, 3);">Memory Details</H2>
            <div class="form-row">
                <div class="col-md-3 mb-3">
                    <label for="validationServer013">RAM</label>
                    <input type="text" class="form-control" name="ram" id="validationServer013" placeholder="RAM">

                </div>
                <div class="col-md-3 mb-3">
                    <label for="validationServer023">ROM</label>
                    <input type="text" class="form-control" name="rom" id="validationServer023" placeholder="ROM">

                </div>
                <div class="col-md-3 mb-3">
                    <label for="validationServerUsername33">Expandable</label>
                    <div class="input-group">

                        <select name="expand" class="form-control">
                            <option value="64GB">64GB</option>
                            <option value="128GB">128GB</option>
                            <option value="256GB">256GB</option>
                            <option value="512GB">512GB</option>
                        </select>
                    </div>
                </div>
            </div>
            <H2 style="color: rgb(209, 44, 3);">Camera Details</H2>
            <div class="form-row">
                <div class="col-md-3 mb-3">
                    <label for="validationServer013">Rear Camera</label>
                    <input type="text" name="rear" class="form-control " id="validationServer013"
                        placeholder="Rear Canera">

                </div>
                <div class="col-md-3 mb-3">
                    <label for="validationServer023">Front Canera</label>
                    <input type="text" class="form-control" name="front" id="validationServer023"
                        placeholder="Front Canera">

                </div>

            </div>

            <H2 style="color: rgb(209, 44, 3);">Display Details</H2>
            <div class="form-row">
                <div class="col-md-3 mb-3">
                    <label for="validationServer013">Display Type</label>
                    <input type="text" class="form-control" name="disType" id="validationServer013"
                        placeholder="Display Type">

                </div>
                <div class="col-md-3 mb-3">
                    <label for="validationServer023">Display Size</label>
                    <input type="text" class="form-control " name="disSize" id="validationServer023"
                        placeholder="Display Size">

                </div>

            </div>
            <H2 style="color: rgb(209, 44, 3);">Battery Details</H2>
            <div class="form-row">
                <div class="col-md-3 mb-3">
                    <label for="validationServer013">Battery Type</label>
                    <input type="text" class="form-control" name="bType" id="validationServer013"
                        placeholder="Battery Type">

                </div>
                <div class="col-md-3 mb-3">
                    <label for="validationServer023">Battery capacity</label>
                    <input type="text" class="form-control " name="bCap" id="validationServer023"
                        placeholder="Battery capacity">

                </div>

            </div>
            <H2 style="color: rgb(209, 44, 3);">Available Color</H2>
            <div class="form-row">
                <div class="col-md-3 mb-3">
                    <label for="validationServer013">Color-1</label>
                    <input type="text" class="form-control " name="color1" id="validationServer013"
                        placeholder="Color-1">

                </div>
                <div class="col-md-3 mb-3">
                    <label for="validationServer023">Color-2</label>
                    <input type="text" class="form-control " name="color2" id="validationServer023"
                        placeholder="Color-2">

                </div>
                <div class="col-md-3 mb-3">
                    <label for="validationServerUsername33">Color-3</label>
                    <div class="input-group">

                        <input type="text" class="form-control " name="color3" id="validationServerUsername33"
                            placeholder="Color-3" aria-describedby="inputGroupPrepend33">
                    </div>
                </div>
                <div class="col-md-3 mb-3">
                    <label for="validationServerUsername33">Color-4</label>
                    <div class="input-group">

                        <input type="text" class="form-control " name="color4" id="validationServerUsername33"
                            placeholder="Color-4" aria-describedby="inputGroupPrepend33">
                    </div>
                </div>
            </div>
            <H2 style="color: rgb(209, 44, 3);">Finger Print</H2>
            <div class="form-row">
                <div class="col-md-3 mb-3">
                    <label for="validationServer013">Available</label>
                    <select name="availFP" class="form-control">
                        <option value="NO">NO,Not Available</option>
                        <option value="YES">YES,Finger Print Available</option>
                    </select>

                </div>
                <div class="col-md-3 mb-3">
                    <label for="validationServer023">Position</label>
                    <select name="fpPosition" class="form-control">
                        <option value="Front">Front</option>
                        <option value="Rear">Rear</option>
                    </select>


                </div>
                <div class="col-md-3 mb-3">
                    <label for="validationServerUsername33">On Screen</label>
                    <select name="fpOnScreen" class="form-control">
                        <option value="NO">NO,Not On Screen</option>
                        <option value="YES">YES,On Screen Finger Print </option>
                    </select>
                </div>
            </div>

            <H2 style="color: rgb(209, 44, 3);">Images</H2>
            <div class="form-row">
                <div class="col-md-3 mb-3">
                    <label for="validationServer013">please select Multiple images at a time</label>
                    <input type="file" name="images" multiple="multiple" class="form-control " id="validationServer013"
                        accept="image/*" placeholder="Product Category">

                </div>

            </div>
            <H2 style="color: rgb(209, 44, 3);">Processor Details</H2>
            <div class="form-row">
                <div class="col-md-3 mb-3">
                    <label for="validationServer013">Processor Name</label>
                    <input type="text" name="processorName" class="form-control " id="validationServer013"
                        placeholder="Product Category">
                </div>
            </div>



            <div class="form-group">
                <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input is-invalid" value="confirmed" name="confirmed"
                        id="invalidCheck33" required>
                    <label class="custom-control-label" for="invalidCheck33">Yes,I have verified all details are
                        correct</label>
                    <div class="invalid-feedback">
                        You must agree before submitting.
                    </div>
                </div>
                <div class="invalid-feedback">
                    You must agree before submitting.
                </div>
            </div>
            <button class="btn btn-primary" type="submit">Submit form</button>
        </form>
    </div>
    <div id="update" style="display: none;">
        <form action="">
            <h1>update Product</h1>
        </form>
    </div>
    <div id="delete" style="display: none;">
        <form action="">
            <h1>Delete Product</h1>
        </form>
    </div>


    <script>
        $("select[name='cat']").change(function () {
            var catSelected = $(this).val();
            var yes = true
            if (catSelected) {
                $.ajax({
                    url: "/admin/utility/searchBrands?cat=" + catSelected + "&needPlaceholder=" + yes,
                    dataType: 'Json',
                    data: { 'id': catSelected },
                    type: "POST",
                    success: function (data) {
                        $('select[name="brand"]').empty();
                        $.each(data, function (key, value) {
                            $('select[name="brand"]').append('<option value="' + value + '">' + value + '</option>');
                            //key stores index and value stores the value(text)
                        });
                    }
                });
            } else {
                $('select[name="brand"]').empty();
            }
        });

        $("select[name='brand']").change(function () {
            var brandSelected = $(this).val();
            var catObj = document.getElementById("cat");
            var catSelected = catObj.options[catObj.selectedIndex].text;
            if (brandSelected) {
                $.ajax({
                    url: "/admin/utility/searchModel?category=" + catSelected + "&brand=" + brandSelected,
                    dataType: 'Json',
                    data: { 'id': brandSelected },
                    type: "POST",
                    success: function (data) {
                        $('select[name="model"]').empty();
                        $.each(data, function (key, value) {
                            $('select[name="model"]').append('<option value="' + value + '">' + value + '</option>');
                            //key stores index and value stores the value(text)
                        });
                    }
                });

            } else {
                $('select[name="model"]').empty();
            }
        });
    </script>
</body>

</html>