<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="/customStyle/adminHeaderStyle.css">
    <script src="/customScript/adminHeaderScript.js"></script>
    <script src="/customScript/3.1.1_jquery.min.js"></script>
</head>

<body>

    <body class="sidebar-is-reduced">
        <header class="l-header">
            <div class="l-header__inner clearfix">
                <div class="c-header-icon js-hamburger">
                    <div class="hamburger-toggle"><span class="bar-top"></span><span class="bar-mid"></span><span
                            class="bar-bot"></span></div>
                </div>
                <div class="c-header-icon has-dropdown"><span
                        class="c-badge c-badge--header-icon animated shake">87</span><i class="fa fa-bell"></i>
                    <div class="c-dropdown c-dropdown--notifications">
                        <div class="c-dropdown__header"></div>
                        <div class="c-dropdown__content"></div>
                    </div>
                </div>
                <div class="c-search">
                    <input class="c-search__input u-input" placeholder="Search..." type="text" />
                </div>
                <div class="header-icons-group">
                    <div class="c-header-icon basket"><span
                            class="c-badge c-badge--header-icon animated shake">12</span><i
                            class="fa fa-shopping-basket"></i></div>
                    <div class="c-header-icon logout"><i class="fa fa-power-off"></i></div>
                </div>
            </div>
        </header>
        <div class="l-sidebar">
            <div class="logo">
                <div class="logo__txt">iM</div>
            </div>
            <div class="l-sidebar__content">
                <nav class="c-menu js-menu">
                    <ul class="u-list">
                        <li class="c-menu__item is-active" onclick="showAdd()" data-toggle="tooltip" title="Flights">
                            <div class="c-menu__item__inner"><i class="fa fa-plane"></i>
                                <div class="c-menu-item__title"><span>Add Products</span></div>
                            </div>
                        </li>
                        <li class="c-menu__item has-submenu" data-toggle="tooltip" title="Modules"
                            onclick="showUpdate()">
                            <div class="c-menu__item__inner"><i class="fa fa-puzzle-piece"></i>
                                <div class="c-menu-item__title"><span>Update Products</span></div>

                            </div>
                        </li>
                        <li class="c-menu__item has-submenu" data-toggle="tooltip" title="Statistics"
                            onclick="showDelete()">
                            <div class="c-menu__item__inner"><i class="fa fa-bar-chart"></i>
                                <div class="c-menu-item__title"><span>Delete Products</span></div>
                            </div>
                        </li>
                        <li class="c-menu__item has-submenu" data-toggle="tooltip" title="Gifts">
                            <div class="c-menu__item__inner"><i class="fa fa-gift"></i>
                                <div class="c-menu-item__title"><span>Gifts</span></div>
                            </div>
                        </li>
                        <li class="c-menu__item has-submenu" data-toggle="tooltip" title="Settings">
                            <div class="c-menu__item__inner"><i class="fa fa-cogs"></i>
                                <div class="c-menu-item__title"><span>Settings</span></div>
                            </div>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </body>


    <script>

        var Dashboard = function () {
            var global = {
                tooltipOptions: {
                    placement: "right"
                },
                menuClass: ".c-menu"
            };

            var menuChangeActive = function menuChangeActive(el) {
                var hasSubmenu = $(el).hasClass("has-submenu");
                $(global.menuClass + " .is-active").removeClass("is-active");
                $(el).addClass("is-active");

                // if (hasSubmenu) {
                // 	$(el).find("ul").slideDown();
                // }
            };

            var sidebarChangeWidth = function sidebarChangeWidth() {
                var $menuItemsTitle = $("li .menu-item__title");

                $("body").toggleClass("sidebar-is-reduced sidebar-is-expanded");
                $(".hamburger-toggle").toggleClass("is-opened");

                if ($("body").hasClass("sidebar-is-expanded")) {
                    $('[data-toggle="tooltip"]').tooltip("destroy");
                } else {
                    $('[data-toggle="tooltip"]').tooltip(global.tooltipOptions);
                }
            };

            return {
                init: function init() {
                    $(".js-hamburger").on("click", sidebarChangeWidth);

                    $(".js-menu li").on("click", function (e) {
                        menuChangeActive(e.currentTarget);
                    });

                    $('[data-toggle="tooltip"]').tooltip(global.tooltipOptions);
                }
            };
        }();

        Dashboard.init();
    </script>
</body>

</html>