<!DOCTYPE html>
<html>

<head>
    <title>
        {{#if title}}
        {{title}}
        {{else}}
        No Title
        {{/if}}
    </title>

    <link rel="stylesheet" href="/bootstrap/css/bootstrap.css" />
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css" />
    <script src="/bootstrap/js/bootstrap.min.js"></script>
    <script src="/customScript/sweet-alert.js"></script>
    <link rel="stylesheet" href="/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />

</head>

<body>
    <main class="l-main">
        <div class="content-wrapper content-wrapper--with-bg">
            <h1 class="page-title"></h1>
            <div class="page-content">
                {{{body}}}
            </div>
        </div>
    </main>


</body>

</html>