<form action=""  method="POST">
    <input type="text" name="userName" placeholder="User Name">
    <br>
    <input type="text" name="userId" placeholder="Email ID">
    <br>
    <input type="text" name="userPassword" placeholder="Password">
    <br>
    <select name="userType">
        <option>Student</option>
         <option>Teacher</option>
          <option>Cleark</option>
           <option>Peon</option>
    </select>
    <br>
    
    <button type="submit" value="submit">Submit</button>
</form>
